@media (max-width:768px) {
    .no_bookmark_text {
        color: #8E8E8E;
        margin-top: 3.5rem;
        margin-bottom: 5rem;
        font-size: 1.2rem;
        font-weight: 600;
    }

    .category_heading {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    .slides_container {
        position: relative;
    }

    .story_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: center;
    }

    .slide {
        position: relative;
        width: 90vw;
        height: 65vh;
        border-radius: 1rem;
    }

    .slide_detail {
        position: absolute;
        bottom: 2.2rem;
        left: 1rem;
        margin-right: 0.6rem;
        margin-bottom: 0.5rem;
        color: #ffffff;
        text-align: left;
    }

    .story_description {
        font-size: 0.7rem;
    }

    .edit_btn{
        background-color: #ffffff;
        border-radius: 2rem;
        width: 7rem;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); /* Bottom shadow */
    }
}